<!DOCTYPE html>

<head>
	<title>Daq software</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- the links to the bootstrap CDN -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='createHome.js', version='101')}}"></script>
	<script src="{{ url_for('static', filename='updateHome.js', version='101')}}"></script>
	<!--<script src="{{ url_for('static', filename='valid-config.json')}}"></script>-->



<style>
	.jumbotron{
		background-color: #2E2D88;
		color:aqua;
	}
	
	.btn-circle {
 		border-radius: 60%;
	}
	.btn-settings{
		margin-left: 14px;
		margin-right: 14px;


	//	padding-left: 5px;
	//	padding-right:5px;
	}

	.badge{
		margin-left: 14px;
		margin-right: 14px;


	//	padding-left: 5px;
	//	padding-right:5px;
	}


	.label{
		margin-left: 14px;
		margin-right: 14px;


	//	padding-left: 5px;
	//	padding-right:5px;
	}

	p{
		word-break:break-all;
		//hyphens: auto;
	}
/*
	.col-3{
		display: block;
		float: left;
		width: 5%;
		margin-top: 15px;
		height: auto;
	}


	.col-2{
		display: block;
		float: left;
		width: 5%;
		margin-top: 15px;
		height: auto;
	}
*/
	.images {
  		float: right;
	}	

	table td{
  		color:aqua;
	}    

	table th{
  		color: aqua;
	}
 
	.tableTxtColor{
  		color: aqua;
	}
</style>

</head>
<body>


	<div class = "container-fluid" style= " padding-bottom: 65px; padding-top:25px">
		<div class = "row">
			<div class = "col-4">	
				<a href="http://epdtdi-daqtest:3000/d/epfNxnHWz/faser_metrics?orgId=1&from=now-5m&to=now&refresh=5s" style='font-size:2em' target="_blank" >Monitoring Link</a>
			</div>
			<div class = "col-4">
				<div class = "page-header">
					
					<center><h4>DAQ software</h4></center>
					
				</div>
			</div>
			<div class= "col-4">
				<div class = "images">
				<img src="{{ url_for('static', filename='faserLogo.jpeg')}}", style="width:250px;height:100px;" height="35" width="30" >
				</div>
			</div>
		</div>
		<div class = "row">
			<div class = "col-auto">
				<div class = "jumbotron"  style= " padding-right:35px ; padding-left:10px ; padding-bottom: 65px; padding-top:25px">
					<center><h4>Configuration</h4></center>
					<div class="container" id = "configFilesRadioGroup">	
					</div>

					<div class = "container" id="saveNewFile">
						<button id="save-button" onclick="saveConfigFile();" style="float:right" class="btn btn-primary">SAVE</button>
					</div>


			
				</div>

			</div>
			<div class = "col-6">
				<div class="container" id="control-box">
					<div class = "jumbotron" style= "width: 700px; color:aqua;background-color: #1a52c6">
						<center><h4>CONTROLS</h4></center>
						<br>
						<br>
						<center>	
							<input  id="INITIALISE" type="submit" class="btn btn-success btn-lg" value="INITIALISE" onclick="initialise();"/>
							
							<input id="START" type="submit" class="btn btn-success btn-lg" value="START" onclick="start();">
							
							<input id="STOP" type="submit" class="btn btn-warning btn-lg" value="STOP" onclick="stop();">
						
							<input id="SHUTDOWN" type="submit" class="btn btn-danger btn-lg" value="SHUTDOWN" onclick="shutdown();">
						</center>
					<br>
					<br>
					<div class="container">			
						<center>
							<font size="4" color="aqua"><p  target="_blank" id="runningFile"></p></font>
						<center>
					</div>
				
					</div>
				</div>
			</div>


			<div class = "col-2" style="padding-left:4px; margin-left:4px;"> 
			</div>
		
		</div>

		<div class="row">
			<!-- run and information-->
			<div class="col-6">
				<div class="container" id="run-info-box">
					<div class = "jumbotron" style = "padding-bottom: 65px; padding-top:25px">
						<center><h4>RUN INFORMATION</h4></center>
						<!--<script>setInterval(function(){ updateRunInformation(); }, 1000);</script>-->
						<script> var intervalIndices = {}; </script>
						<table class="table table-sm table-hover table-bordered">
							<tbody>
									<tr>
										<th scope="row">Run</th>
										<td>  <a> number: </a> <a id="RunNumber"></a></td>
										<td> <a> Starting Time: </a> <a id="RunStart"></a> </td>
									</tr>			
								
										
									<tr>
										<th scope="row">Physics</th>
										<td> <a id= "PhysicsEvents"></a> <a>events</a></td>
										<td><a id="PhysicsRate"></a>  <a>Hz</a> </td>
									</tr>

					
									<tr>
										<th scope="row">Monitoring</th>
										<td> <a id="MonitoringEvents"> </a> <a>events</a> </td>
										<td> <a id= "MonitoringRate"></a>   <a>Hz</a> </td>
									</tr>

		
									<tr>
										<th scope="row">Calibration</th>
										<td> <a id="CalibrationEvents"> </a> <a>events</a></td>
										<td> <a id="CalibrationRate"> </a> <a>Hz</a></td>
									</tr>		
							</tbody>
						</table>
					 
							<div class="embed-responsive embed-responsive-16by9" id="graphWindow">
								<!--<iframe class="embed-responsive-item" src="/monitoring/graph" allowfullscreen>
								</iframe>-->
							</div>
						<br>
					</div>	
				</div>
			</div>
			<!-- status and settings-->
			<div class="col">
				
				<div class= "container"  id="status&settings-box">				
					<div class = "jumbotron" style= "padding-right:5px ; padding-left:5px ; padding-bottom: 80px; padding-top:25px;">
						<center><h3>STATUS AND SETTINGS</h3></center>
							
							<table class= table-borderless id="boards">	
								<tbody>	
								</tbody>
							</table>
				
						<div class="container" style= "padding-top: 40px; ">	
							<button type="button" class="btn btn-primary btn-lg" style="float: right;" onclick="addBoard()">ADD</button>
						</div>
					
					</div>
				</div>


			</div>

		</div>

	</div>
	
	<script>
		var CHILD_WINDOW;
		//updateBoardContainer("current.json");

		updateConfigFileChoices();
		var radioID = "radio-" + '{{selectedFile}}';
		document.getElementById(radioID).click();
		//displaySaveButton();

		setInterval(updateCommandsAndStatus, 500);
		setInterval(updateColorOfInfoButtons(), 500);
		setInterval(updateRunningFile, 500);
	</script>


</body>



</html>

